.content {
    background-color: rgba(255, 239, 215, 0.612);
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul, ol {
    margin-left: 2rem;
}

p {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.7;
    margin-bottom: 1rem;
}