body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  border: 1px solid red;
  font-size: 110%;
 text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.small-carousel {
  max-width: 70%;     
  margin: auto;       
}

.small-carousel img {
  height: 20rem;       
  object-fit: cover;    
}

