.carousel-caption p {
  font-size: 1.3em;
font-family: Ubuntu;
text-align: center;
padding-bottom: 0px;
}


.content h3{
  font-size: 1.45rem;
  font-family: 'Lora', serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.5); /* 50% transparent */
  border: none;
  transition: 0.3s;
}

.card:target {
  border: 3px solid #ad1b1b; /* highlight selected card */
}

.card-body p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.card:target {
  border: 3px solid #ac5600; 
background-color: rgba(255, 115, 0, 0.113);
}
