body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  font-size: 110%;
  text-align: center;
  padding: 1%;
}

h1, h2, h3, h4, h5 {
  font-family: "Lora", serif;
}


.small-carousel {
  max-width: 70%;
  margin: auto;
}

.small-carousel .carousel-item img {
  height: 80vh; /* or whatever smaller height you want */
  object-fit: contain; /* keeps aspect ratio while cropping edges */
  width: 100%;
}

.carousel-caption {
  display: inline-block; /* shrink background to text width */
  padding: 10px 15px 5px 15px; /* space around text */
  color: black;
  background-color: rgba(255, 255, 255, 0.524);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5%;
}
