body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  font-size: 110%;
  text-align: center;
  padding: 1%;
}

h1, h2, h3, h4, h5 {
  font-family: "Lora", serif;
}

.carousel-caption {
  margin-bottom: 1rem;
}
