.desc {
text-align: left;
}

.image{
    border: 3px solid burlywood;
}
.image:hover{
border: 3px solid rgb(108, 9, 9);
}

hr{
    width: 60%;
    height: 3px;
    background-color: black;
    margin-bottom: 3%;
}

