.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 per row */
  column-gap: 2rem;
  row-gap: 0.5rem;
}

img {
  height: 67vh;
  object-fit: cover;
  width: 100%;
  padding-bottom: 1rem;
}

h5{
  padding-bottom: none;
  font-weight: 550;
}

h3{
  padding-top: 1rem;
}
/*
.content {
  background-image: url("images/latinamerican/01-mexican-tacos-jarritos-mexican-soda.jpg");
  background-size: cover;
  margin: 1rem;
  padding: 0;
}

.mexican {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.563),
    rgba(0, 0, 0, 0.514)
  );
  margin: 0;
  padding: 1rem;

  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

h3.regions {
  font-size: 10rem;
}

p {
  font-size: 2rem;
}
*/
