.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 0.5rem;
}

.img-wrapper {
  position: relative;
  width: 100%;
}

.img-wrapper img {
  height: 67vh;
  object-fit: cover;
  width: 100%;
  padding-bottom: 1rem;
}

.img-wrapper .badge {
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
  font-size: 0.85rem;
  z-index: 2;
}

h3 {
  padding-top: 1rem;
}

h4 {
  font-weight: 550;
}
