.content {
  background-image: url("images/latinamerican/01-mexican-tacos-jarritos-mexican-soda.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.mexican {
    background-image: linear-gradient(to top, rgba(255, 123, 0, 0.226), rgba(255, 255, 255, 0.245));
  margin: 0;
}
