body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  font-size: 110%;
  margin: 0;
  padding: 0;
}

.Lora {
  font-family: "Lora", serif;
}
h3.Lora {
  padding-top: 0.5rem;
  padding-right: 2rem;
  color: #fff;
}

a:hover {
  background-color: rgba(255, 89, 0, 0.569);
  border-radius: 20rem;
}
#nav {
  float: top;
  background-color: rgb(60, 18, 0);
}

#content {
  margin: 1%;
  padding: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.special {
  align-self: flex-end;
}

.navbar {
  background-color: #981414;
  padding: 0.5rem 1rem;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #741b1b;
}
.dropdown-item:active {
  background-color: salmon;
}

h1 {
  text-align: center;
}
