body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  border: 1px solid red;
  font-size: 110%;
  margin: 0;
  padding: 0;
}

a {
  color: saddlebrown;
  text-decoration: none;
}
a:hover {
  background-color: rgba(226, 159, 93, 0.569);
}
#nav {
  float: top;
  background-color: rgb(60, 18, 0);
}

#content {
  margin: 1%;
  padding: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

}

.special{
  align-self:flex-end;
}

.navbar {
  background-color: #981414;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #ffd700;
}

.btn-search {
  border-color: #fff;
  color: #fff;
}

.btn-search:hover {
  background-color: #fff;
  color: #4a90e2;
}

/*
#content {
    overflow-y: scroll;
    float: right;
}
*/

img{
  float: left;
}

h1{
  text-align: center;
}

