body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  font-size: 110%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.popular {
  font-size: 150%;
  font-weight: 540;
}

.content > ul {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Lora", serif;
  text-align: center;
  font-weight: 500;
}

.content h3 {
  font-weight: 600;
  font-size: 3vw;
  padding-top: 1rem;
}

.content {
  margin: 2rem;
  border: #ad1b1b 1px solid;
  padding: 1rem;
}

.title {
  margin: 1rem;
  font-weight: 800;
  font-size: clamp(1.8rem, 10vw, 4rem);
}

.Ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 550;
}

h3.Lora {
  padding-top: 0.5rem;
  padding-right: 2rem;
  color: #fff;
}

.Ubuntu a.nav-link {
  color: #fff;
  font-size: large;
}

a:hover {
  background-color: rgba(255, 89, 0, 0.569);
  border-radius: 20rem;
}

#nav {
  background-color: rgb(60, 18, 0);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.special {
  align-self: flex-end;
}

.navbar {
  background-color: #ad1b1b;
  padding: 0.5rem 1rem;
}

.nav-link {
  color: #fff;
  margin-right: 1rem;
}

.dropdown-item:active {
  background-color: salmon;
}

.small-carousel {
  max-width: 70%;
  margin: auto;
}

.small-carousel .carousel-item img {
  height: 80vh;
  object-fit: contain;
  width: 100%;
}

.carousel-caption {
  display: inline-block;
  padding: 8px 10px 4px 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.524);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.italian img {
  object-fit: contain;
  width: 80rem;
  max-width: 50%;
  padding-bottom: 0.5rem;
}

.caption {
  font-family: Ubuntu, sans-serif;
  text-align: left;
  display: block;
}
